.input {
  background-color: #f3f3f3;
}

.text {
  color: #ff7158;
}

.jumbotron {
  width: auto;
  height: 12rem;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../public/image/add-event.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
