.text {
  color: #ff7158;
}

.category {
  width: 70%;
}

.cards {
  cursor: pointer;
}

.img-event {
  height: 25vh !important;
  width: 100% !important;
}

@media only screen and (max-width: 600px) {
  .category {
    width: 100%;
  }
}
